[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pysimpleapp = {editable = true,path = "."}

[packages]
bumpversion = "==0.5.3"
watchdog = "==0.9.0"
flake8 = "*"
tox = "==3.5.2"
coverage = "==4.5.1"
twine = "==1.12.1"
black = "*"
pre-commit = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
